header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 10px;
  top: -20px;
  width: 100vw;
  background-color: black;
  height: 18vh;
  margin: 0px;
  color: #efefef;
}
.login-info {
padding: 0px 15px;
margin: 5px;
align-self: flex-end;
}
body {
  background-color: #efefef;
  margin: 0px;
  padding-top: 0px;
}

.logo-spacer {
  width: 100vw;
}

.site-logo {
  margin-right: 50px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px;
}

h2 {
  padding: 25px;
}

.invert {
  filter: invert(100%);
}
